#page_container {
    background-color: white;
    display: flex;
    justify-content: center;    /* vertically center page */
    align-items: center;        /* horizontally center page */
    flex-direction: column;     /* stack child elements vertically */
    height: 80vh;               /* take up 80% of screen height */
}

#input_container {
    background-color: grey;
    box-sizing: border-box;     /* include padding and border sizing */
    padding: 2em;               /* create input box */
    border: 2px solid black;
    border-radius: 12px;        /* for soft input box corner */
}

#meter_container {
    margin-top: 15px;
    background-color: white;
    width: 300px;
    height: 20px;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;           /* ensure strength meter does NOT exceed container */
}

#strength_meter {
    width: 0%;
    height: 100%;
    transition: width 2s ease; /* transition speed for strength bar */
}